p {
    text-align: left;
    padding: 0!important;
    margin: 0!important;
}
.todo-flex, .todo.completed{
    display: flex;
}
div.todo-flex:hover, div.todo.completed:hover, div.todo.delete:hover{
    cursor: pointer;
}
.todo.completed p{
  text-decoration: line-through;
  color: green;
}
.MainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.ui.card{
  width: 400px!important;
  min-height: 400px!important;
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.ui.form div.field{
  display: flex!important;
  flex-direction: row!important;
}
i.icon.check.square:before{
  opacity: 0.3;
}
.todo.completed i.icon.check.square:before{
  color: green!important;
  opacity: 0.8;
  transition: ease 0.4s;
}
div.ui.segment{
  margin: 10px 0!important;
}
.ui.positive.button{
  margin-left: 10px;
}
.ui.negative.button{
  margin-top: 10px;
}
i.check.square.icon:before{
    font-size: 1.2rem;
}
i.trash.alternate.icon:before{
    font-size: 1rem;
}
i.check.square.icon{
    margin-bottom: 5px;
    margin-right: 10px;
}
i.trash.alternate.icon{
    position: absolute;
    right: 9px;
    top: 15px;
}
div.ui.grey.segment{
    display: flex;
    align-items: center;
}
.empty, .empty p{
  text-align: center!important;
  margin-top: 20px;
}